TMDB_API_KEY=your_tmdb_api_key
TMDB_READ_ACCESS_TOKEN=your_tmdb_read_access_token
DATABASE_URL=postgresql://movix:movix@localhost:5432/movix_auth?schema=public
AUTH_URL=http://localhost:3000
AUTH_SECRET=replace_with_a_long_random_secret
AUTH_GOOGLE_ID=replace_with_google_client_id
AUTH_GOOGLE_SECRET=replace_with_google_client_secret
